.game-page {
  display: none;
}

#player1disc{
  background-color:red;
}
#player2disc{
  background-color:yellow;
}

.board-holder {
  overflow: hidden;
  
  /* set width and height from js*/
}

.button {
  padding: 10px 15px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  }

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.invalid1 .invalid2 {
  color: red;
  font-size: 14px;
}

.hidden1 .hidden2 {
  visibility: hidden;
}

.board-holder {
  overflow: hidden;
  
  /* set width and height from js*/
}

.board {
  width: 650px;
  height: 650px;
  transform-origin: 0 0;
  /*transform: scale(0.33); - do by js instead */
  display:none; /* don't show before js scale */
  margin: 0 auto;
}

.xcol {
  width: calc(100% / 7);
}

.hiddenScroll {
  overflow: hidden;
}