body  {
  background-image: url("../imgs/bg2.jpeg");
  background-size: cover;
  background-attachment: fixed;
  font-family: verdana;
}

.pic-container{ /*bilderna på indexsidan*/
  opacity: 0.9;
  margin-left: 60px;
  margin-right: 60px;
}
.pic-container h4 {
  margin: 5%;
  color: white;
  opacity: 0.6;
}

.index-container{ /*texten på indexsidan*/

  margin-left: 60px;
  margin-right: 60px;
}

.index-container p {
  margin: 5%;
  color: white;
  opacity: 0.6;
}
.index-container h4 {
  margin: 5%;
  color: white;
  opacity: 0.6;
}

.form-group{ /*plname människa + dator */
  color: white;
  opacity: 0.9;
}

.button-container{  /* "spela 4 i rad" knappen */
  margin-top:10px;
  margin-left: 110px;



 
}
.game-page {
  display: none;
}

#player1disc{
  background-color:red;
}
#player2disc{
  background-color:yellow;
}

.board-holder {
  overflow: hidden;
  
  /* set width and height from js*/
}

.arnold {
  background-image: url("../imgs/victory/arnold.gif");
}


.victorydiv img {
  max-width: 65%;
}

.victorydiv {
  width: 100%;
}

.victorydiv audio {
  display: none;
}


.invalid, .invalid2 {
  color: red;
  font-size: 14px;
}

.hidden, .hidden2 {
  visibility: hidden;
}

.board {
  width: 650px;
  height: 650px;
  transform-origin: 0 0;
  /*transform: scale(0.33); - do by js instead */
  display:none; /* don't show before js scale */
  margin: 0 auto;
}

.xcol {
  width: calc(100% / 7);
}

.hiddenScroll {
  overflow: hidden;
}

.p1 {
  text-decoration: underline;
}

 .d-inline, .antaldrag {
  font-size: 30px;
 }
